<section class='intro new'>
  <div class="col-sm-8 col-sm-offset-2 well">
  <h1>Edit this Firm</h1>
    <%= form_for @firm do |f| %>
      <ul>
        <% if @firm.errors.any? %> 
          <p>
            <%= pluralize(@firm.errors.count, "error") %> prevented the form from being saved:
          </p>
          <% @firm.errors.full_messages.each do |message| %> 
          <li><%= message %></li>
          <% end %> 
        <% end %> 
      </ul>
    <%= f.label :name %> 
    <%= f.text_field :name, placeholder: "Law Offices of ABC", class:'form-control', autofocus: true %> 
    <br>
    <%= f.label :image %> 
    <%= f.text_field :image, placeholder: "url to firm logo", class:'form-control' %>
    <br>
    <%= f.label :address %> 
    <%= f.text_field :address, placeholder: "Address", class:'form-control' %> 
    <br> 
    <%= f.label :city %> 
    <%= f.text_field :city, placeholder: "City", class:'form-control' %> 
    <br> 
    <%= f.label :state %> 
    <%= f.text_field :state, placeholder: "state", class:'form-control' %> 
    <br> 
    <%= f.label :zipcode %> 
    <%= f.text_field :zipcode, placeholder: "zipcode", class:'form-control' %> 
    <br> 
    <%= f.label :phone %> 
    <%= f.text_field :phone, placeholder: "Phone #", class:'form-control' %> 
    <br> 
    <%= f.label :fax %> 
    <%= f.text_field :fax, placeholder: "fax #", class:'form-control' %> 
    <br> 
    <%= f.label :profile %> 
    <%= f.text_area :profile, rows: 10, placeholder: "company profile description", class:'form-control' %>
    <div class="text-right">
      <%= f.submit "Update Firm", class: 'btn btn-primary' %> 
    </div>
    <% end %> 
  </div>
</section>

