<div class="container">
  <section class='intro'>
    <div class="row banner">
      <div id="name_ribbon">
         <h1><%= "#{@case.title}" %> </h1>
      </div>
      
    </div>
    <div class="row content">
      <div class="col-sm-4 ">

        <div>
          <h4><%= @case.law_type  %> </h4>
          <h5>Filed on: <%= @case.filed %> </h5>
        </div>
       <!--  handling attorneys -->
        <div>
          <% @case.handling.each do |user| %>
            <% user = User.find(user.user_id) %>
            <%= link_to user_path(user.id) do%>
              <%= user.full_name %>
            <%end%>
          <% end %>
        </div>
        <div>
          <p>
            <%= @case.case_status %>
            <br>
            <%= @case.case_number %>
          </p>
          <br>
          <%= @case.internal_number %>
        </div>
       
        <br>
        <p><%= "Last updated: #{@case.updated_at.to_date.to_formatted_s(:long_ordinal)}" %></p>
        <%=link_to "Edit case Information", edit_case_path, class:"btn" %>
      </div>

      <div class="col-sm-8">
        <p><%= @case.summary %> </p>

        
      </div>
    </div>
  </section>
  <section>
    <table style="width:100%">
      <tr>
        <td>Party</td>
        <td>Firm Representation</td> 
        <td>Attorney</td>
        <td>Role</td>
      </tr>
      <% @case.representations.each do |r| %>

      <tr>
        <td>      
          <% company = Company.find(r.company_id) %>
          <%= link_to company_path(company.id) do%>
          <%= company.name %>
          <%end%>
        </td>
        <td>
          <% firm = Firm.find(r.firm_id) %>
          <%= link_to firm_path(firm.id) do%>
          <p><%=firm.name %></p>
          <%end%>
        </td> 
        <td>
          <p><%= r.attorney %></p>
        </td>
        <td>
          <p><%= r.role %></p>
        </td>
      </tr>
      
    <% end %>
    </table>
  </section>
</div>
  

