<section>
  <h1><%=@practice.title %></h1>
  <!-- TODO add a decription to the practice group -->
  <p></p>
  <div class="row">
    <div class="col-sm-6">
      <h2>Current Members</h2>
      <% @practice.groups.each do |user| %>
        <% user = User.find(user.user_id) %>
        <%= link_to user_path(user.id) do%>
          <%= user.full_name %></br>
        <%end%>
      <% end %>
      <div>
        <% for group in @current_user.groups.where(practice_id: @practice) %>
          <h5>You are already a member of this group</h5>

            <%= button_to "Remove Membership", group, class:" btn btn-danger pull-left", method: :delete %>
        <%end%>
        <br>
        <% if (show_button current_user, @practice) %>
          <%= form_for @group do |f| %>
            <%= f.hidden_field :practice_id, :value => @practice.id%>
            <%= f.submit "Become Member", class:"btn btn-success pull-left" %>
          <% end %>
        <%end%>
      </div>

    </div>

    <div class="col-sm-6">
      <h2> Current offices</h2>
      <!-- TODO add all office locations -->
    </div>
    
  </div>
  
</section>
<section>
  <h4>Cases being handled by the <%= "#{@practice.title}"%> group:</h4>
    <% @practice.assignments.each do |lawcase| %>
      <% lawcase = Lawcase.find(lawcase.lawcase_id) %>
      <%= link_to lawcase_path(lawcase.id) do%>
        <%= lawcase.title %> </br>
      <%end%>
    <% end %>
</section>