<section class='intro new'>
  <div class="col-sm-8 col-sm-offset-2 well">
  <h1>Add an expert to the database</h1>
    <%= form_for @expert do |f| %>
      <ul>
        <% if @expert.errors.any? %> 
          <p>
            <%= pluralize(@expert.errors.count, "error") %> prevented the form from being saved:
          </p>
          <% @expert.errors.full_messages.each do |message| %> 
          <li><%= message %></li>
          <% end %> 
        <% end %> 
      </ul>
    <%= f.label :first_name %> 
    <%= f.text_field :first_name, placeholder: "First Name", class:'form-control', autofocus: true %> 
    <br>
    <%= f.label :last_name %> 
    <%= f.text_field :last_name, placeholder: "Last Name", class:'form-control' %> 
    <br>  
    <%= f.label :middle_name %> 
    <%= f.text_field :middle_name, placeholder: "Middle Name or Initial ", class:'form-control' %> 
    <br> 
    <%= f.label :company %> 
    <%= f.text_field :company, placeholder: "company", class:'form-control' %> 
    <br> 
    <%= f.label :title %> 
    <%= f.text_field :title, placeholder: "title at current company", class:'form-control' %> 
    <br> 
    <%= f.label :time_in_field %> 
    <%= f.date_select :time_in_field, discard_month:true, discard_day:true, start_year:1950, class:'form-control' %> 
    <br> 
    <%= f.label :email %> 
    <%= f.text_field :email, placeholder: "email", class:'form-control' %>
    <br>
    <%= f.label :address %> 
    <%= f.text_field :address, placeholder: "Address", class:'form-control' %> 
    <br> 
    <%= f.label :city %> 
    <%= f.text_field :city, placeholder: "City", class:'form-control' %> 
    <br> 
    <%= f.label :state %> 
    <%= f.text_field :state, placeholder: "state", class:'form-control' %> 
    <br> 
    <%= f.label :zipcode %> 
    <%= f.text_field :zipcode, placeholder: "zipcode", class:'form-control' %> 
    <br> 
    <%= f.label :phone %> 
    <%= f.text_field :phone, placeholder: "Phone #", class:'form-control' %> 
    <br> 
    <%= f.label :phone2 %> 
    <%= f.text_field :phone2, placeholder: "Second Phone #", class:'form-control' %> 
    <br> 
    <%= f.label :bio %> 
    <%= f.text_area :bio, rows: 20, placeholder: "Bio", class:'form-control' %> 
    <br> 
    <%= f.label :image %>
    <%= f.text_field :image, placeholder: "Find a picture you like, right click and hit copy image url", class:'form-control'%> 
    <br> 
    <div class="text-right">
      <%= f.submit "Add Expert", class: 'btn btn-primary' %> 
    </div>
    <% end %> 
  </div>
</section>

